<!DOCTYPE html>
<html>
    <head>
        <title>basic scum tool</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <link rel="stylesheet" href="{{ url_for('static', filename='common.css') }}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css" media="screen">

        <!--<script src="{{ url_for('static', filename='jquery-2.1.3.min.js') }}"></script>-->
        <!--<script src="{{ url_for('static', filename='common.css') }}"></script>-->
        <!--<link href='http://fonts.googleapis.com/css?family=Roboto:100,400,300' rel='stylesheet' type='text/css'>-->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">


    </head>
    <body>
        {% block content %}
        {% endblock %}
	<!--<script src="{{ url_for('static', filename='webgl.js') }}"></script>-->
    <script src="{{ url_for('static', filename='common.js') }}"></script>
    </body>
</html>
