{% extends "layout.html" %}
{% block content %}
<style type="text/css">
    .gimmesomemargin{
        margin-top: 50px;
        vertical-align: middle;
}
</style>

<div class="container">
    <div class="gimmesomemargin">
        <h4>Login<span style="text-decoration: line-through"></span></h4>
        <form action="{{ url_for('login') }}" method="post" class="login">
            <label>Username:</label>
            <input type="text" name="username" />
            <label>Password:</label>
            <input type="password" name="password"  />
            <input type="submit" value="Submit" name="submit" class="submit btn" />
        </form>
        {% if error %}
          <span style="color: red">{{ error }}</span>
        {% endif %}
    </div>
</div>
{% endblock %}
