{% extends "layout.html" %}
{% block content%}

<div class="col1">
    <div class="bs-example">
        <div id='crypto'>

            <div class="bs-example">
                <h3>First steps!  (25 pts)</h3>
                <pre>
                    <div>The simplest of them all</div>
                    <a href="http://axels.no/xeneta/web-ch1/index.php">Link to challenge one</a>
                    <form action={{ url_for('render_web')}} method="post">
                        Token: <input type="text" name="token" /><input type="hidden" name="challenge" value="0"/><input type="submit" value="Submit"/>
                    </form>
                </pre>
                <!--<a href="{{ url_for('render_crypto') }}"><button type="button" class="btn btn-primary btn-lg btn-block">Challenge One</button></a> -->
            </div>
            
            <div class="bs-example">
                <h3>A little poke around  (25 pts)</h3>
                <pre>
                    <div>Still pretty simple stuff</div>
                    <a href="http://axels.no/xeneta/web-ch2/task03.php">Link to challenge two</a>
                    <form action={{ url_for('render_web')}} method="post">
                        Token: <input type="text" name="token" /><input type="hidden" name="challenge" value="1"/><input type="submit" value="Submit"/>
                    </form>
                </pre>
            </div>
            
            <div class="bs-example">
                <h3>Google only  (17 pts)</h3>
                <pre>
                    <div>This must be the sorriest challenge ever created (and i didn't even make it)</div>
                    <a href="http://axels.no/xeneta/web-ch3/index.php">Link to challenge three</a>
                    <form action={{ url_for('render_web')}} method="post">
                        Token: <input type="text" name="token"><input type="hidden" name="challenge" value="2"><input type="submit" value="Submit">
                    </form>
                </pre>
            </div>
            
            <div class="bs-example">
                <h3>Stupid Authentication  (45 pts)</h3>
                <pre>
                    <div>This is the way to do authentication 2014-style... </div>
                    <a href="http://axels.no/xeneta/web-ch4/index.php">Link to challenge four</a>
                    <form action={{ url_for('render_web')}} method="post">
                        Token: <input type="text" name="token"><input type="hidden" name="challenge" value="3"><input type="submit" value="Submit">
                    </form>
                </pre>
            </div>


        </div>

</div>
<col class="col2">
</div>
{% endblock %}
